<!--<%= react_component('FlightLogger', name: 'flight_logger') %>-->

<div>
  <h1>Logger</h1>
  <div>
	<%= react_component("FlightLogger", { greeting: "Hello from react-ralllls." }) %>
  </div>

</div>