<div class="users">

  <h1>Users</h1>
  
  <div class="container">
  	<% @users.each do |user| %> 
	    <div class="user"> 
  	  <p><%= user.email %></p> 
  	  <p><%= user.first_name %></p>
  		<p><%= user.last_name %></p> 
  		<p><%= user.utype %></p> 
	    </div> 
	  <% end %>
  </div>
</div>