<div class="pageHeader">
<h3>One week to release:(timer)</h3>
<h3>(Release Date)</h3>
<h1>Welcome Page</h1>

<div class="contentContainer">
	<h3>(banner)</h3>
</div>

</div>

<div class="main">
<div class="contentContainer">
	<div class="content">
	<h3>"The Problem"</h3>
	<ul>
		<li>Large amounts of paperwork</li>
		<li>Dodgy handwriting</li>
	</ul>
</div>
</div>

<div class="contentContainer">
	<div class="content">
	<h3>(The Logger)</h3>
	<ul>
		<li>(Demo version)</li>
	</ul>
</div>
</div>

<div class="contentContainer">
	<div class="content">
	<h3>Why you need the logger</h3>
	<ul>
		<li>Reduce errors</li>
		<li>Easier to see the information</li>
		<li>Reduce administrator time</li>
	</ul>
</div>
</div>

<div class="contentContainer">
	<div class="content">
	<h3>Features</h3>
	<ul>
		<li>(How this is done)</li>
		<li>Easily understandable input system with validation</li>
		<li>Uses the latest and greatest online features to allow an offline experience</li>
		<li>Available offline - data can be quickly uploaded to the cloud for processing</li>
		<li>Online tables that display every flight, aircraft, club member</li>
		<li>Data converted into Google Sheets for easy record keeping</li>
		<li>Easy to see the use of individual aircraft</li>
		<li>Users can easily see their flights</li>
		<li>Launch website ssl protected</li>
	</ul>
		<h4>Near Future(month)</h4>
	<ul>
		<li>Online Payment</li>
	</ul>
	<h4>Long Term(3 months)</h4>
	<ul>
		<li>Lots of cool features to come which will reshape the gliding world</li>
	</ul>
</div>
</div>

<div class="contentContainer">
	<div class="content">
	<h3>Price</h3>
	<ul>
		<li>£5 a month</li>
		<li>7p a launch</li>
		<li>Unlimited members</li>
		<li>Based on an individual billing system so you only pay for what you use</li>
		<li>Launch bill paid after the fact</li>
		<li>Paid bi-monthly</li>
	</ul>
	<h4>Offer</h4> <!-- financial details taken at the beginning of the trial--><!--Pre release max one club per user-->
	<ul>
		<li>One week free trial</li>
		<li>No launch fees for a further 2 weeks</li>
	</ul>
</div>
</div>

<div class="contentContainer">
	<div class="content">
	<h3>About</h3>
	<ul>
		<li>(The company)</li>
		<li>Small student startup</li>
		<li>Ready to make big waves in the gliding world</li>
	</ul>
</div>
</div>

<div class="contentContainer">
	<div class="content">
	<h3><button id='signup' class="a_demo_two">Sign Up</button></h3>
</div>
</div>
</div>


<div id="wrapper">
	<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">FlightLogger</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
				<li><a href="#" accesskey="2" title="">Logger</a></li>
				<li><a href="#" accesskey="3" title="">About</a></li>
			</ul>
		</div>
		<!--<div id="user">
			<h2>user</h2>
		</div>-->
	</div>
	</div>
	<div id="banner">
		<div class="container">
			<div class="title">
				<h2>Launch recording software</h2>
				<span class="byline">One week to launch</span> </div>
			<ul class="actions">
				<li><a href="#" class="button">Demo Logger</a></li>
			</ul>
		</div>
	</div>
	<div id="extra" class="container">
		<div class="title">
			<h2>Features</h2>
			<span class="byline"></span> </div>
		<div id="three-column">
			<div class="boxA">
				<div class="box"> <span class="fa fa-cloud-download"></span>
					<p>Cloud</p>
				</div>
			</div>
			<div class="boxB">
				<div class="box"> <span class="fa fa-cogs"></span>
					<p>Offline Service</p>
				</div>
			</div>
			<div class="boxC">
				<div class="box"> <span class="fa fa-user"></span>
					<p> Validataion</p>
				</div>
			</div>
			<!--
			<div class="boxD">
				<div class="box"> <span class="fa fa-user"></span>
					<p> Data Analysis</p>
				</div>
			</div>
			<div class="boxE">
				<div class="box"> <span class="fa fa-user"></span>
					<p> Quick Setup</p>
				</div>
			</div>
		-->
		</div>
		<ul class="actions">
			<li><a href="#" class="button">Find out more</a></li>
		</ul>
	</div>
	<div id="featured">
		<div class="container">
			<div class="title">
				<h2>Price</h2>
				
			
			<ul>
				<li>£5 a month</li>
				<li>7p a launch</li>
				<li>Unlimited members</li>
				<li>Based on an individual billing system so you only pay for what you use</li>
				<li>Launch bill paid after the fact</li>
				<li>Paid bi-monthly</li>
			</ul>
			
			<span class="byline">Offer</span> <!-- financial details taken at the beginning of the trial--><!--Pre release max one club per user  <h4>Offer</h4> -->
				
	
			<ul>
				<li>One week free trial</li>
				<li>No launch fees for a further 2 weeks</li>
			</ul>
			</div>
			
		</div>
		<ul class="actions">
			<li><a href="#" class="button">Find out more</a></li>
		</ul>
	</div>
	<div id="page" class="container">
		<div class="title">
			<h2>About</h2>
			<span class="byline">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</span> </div>
		<ul>
		<li>(The company)</li>
		<li>Small student startup</li>
		<li>Ready to make big waves in the gliding world</li>
	</ul>
		<ul class="actions">
			<li><a href="#" class="button">Find out more</a></li>
		</ul>
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
